[user]
	email = marceloengecomp@gmail.com
	name = Marcelo
[push]
	default = current
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/695af097c7bd098fbf017ce3ac85e09bbc5dda06/node /tmp/vscode-remote-containers-fca905b62a5863b009a5b649d9740eaff84230d9.js $*; }; f"
