[user]
	email = marceloengecomp@gmail.com
	name = Marcelo
[push]
	default = current
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/695af097c7bd098fbf017ce3ac85e09bbc5dda06/node /tmp/vscode-remote-containers-dde7b7b4-026d-45ce-aa82-a48f270bea47.js git-credential-helper $*; }; f"
