[user]
	email = marceloengecomp@gmail.com
	name = Marcelo
[push]
	default = current
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/695af097c7bd098fbf017ce3ac85e09bbc5dda06/node /tmp/vscode-remote-containers-652cf40e-b6c9-4af4-a586-afe11e46cc84.js git-credential-helper $*; }; f"
